    <div id="mygamespage">
        <h1>Here are all your games</h1>
        <a class="btn btn-success right" id="newAIGame">New AI Game</a>
        <a class="btn btn-success right" id="newGame">New Game</a>
        <a class="btn btn-danger right" id="deleteGames">Delete all games</a>
        <table class="table table-hover" id="allGames">
            <thead>
                <tr>
                    <th>Game ID</th>
                    <th>Status</th>
                    <th>Enemy name</th>
                    <th>Turn</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>