    <div id="gamepage" class="hideme">
        <div id="board">
            <!--- add enemy name, who's turn it is & enemy last shot -->
            <p id="enemyText">You are playing versus nobady, its noone's turn</p>
        </div>
        <div id="legend">
            <table id="legendTable">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Visualisation</th>
                    </tr>
                    <tr>
                        <td>Your splash</td>
                        <td class="clicked">
                    </tr>
                    <tr>
                        <td>Enemy splash</td>
                        <td class="Eshot"></td>
                    </tr>
                    <tr>
                        <td>Your ship</td>
                        <td class="ship"></td>
                    </tr>
                    <tr>
                        <td>Your boom</td>
                        <td class="clicked boom"></td>
                    </tr>
                    <tr>
                        <td>Ship hit</td>
                        <td class="ship Eshot hit"></td>
                    </tr>


            </table>
        </div>